extends base

block content
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(name="title", type="text", placeholder="Title", required, minlength=20 ,maxlength=80)
    input(name="description", type="text", placeholder="Descriotion", required, maxlength=140)
    input(name="hashtags", type="text", placeholder="Hashtags, separated by comma.", required)
    input(type="submit", value="Upload Video")